<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.monitor.mz.xx.monitor">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/mThem">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.ActivityProcesses">
        </activity>
        <service android:name=".Services.ReaderService"></service>
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="YOUR_APP_KEY" />
        <!--渠道号-->
        <!--此处使用占位符，然后在build.gradle中动态的替换它-->
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}" />
    </application>


</manifest>